Repository cisagov/skeleton-ansible-role, pull requests merged in 2022-12, with the labels that each got.

#123 Add CodeQL Workflow
  .github/workflows/codeql-analysis.yml
  README.md
Labels: blocked, improvement

#128 Remove LGTM from the repository
  README.md
Labels: improvement, kraken 🐙

#118 Stop installing Python and pip in the Molecule prepare.yml playbook
  molecule/default/prepare.yml
  molecule/default/python.yml
  molecule/default/requirements.yml
Labels: blocked, breaking change, improvement, hacktoberfest-accepted, kraken 🐙

#120 Add a convenience script to update molecule Docker images
  update_molecule_images.sh
Labels: improvement, hacktoberfest-accepted, kraken 🐙

#117 Use the ansible.builtin.include_role task
  README.md
  molecule/default/upgrade.yml
Labels: blocked, documentation, improvement, hacktoberfest-accepted, kraken 🐙

#115 Fix role metadata
  meta/main.yml
Labels: bug, improvement, kraken 🐙

#126 Remove support for Fedora 34
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: blocked, kraken 🐙

#108 Add support for Ubuntu 22.04 (Jammy Jellyfish)
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: improvement

#110 Add support for Fedora 36
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: blocked, improvement

#125 Add support for Fedora 37
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: blocked, improvement

#116 Explicitly specify the hardware platforms for the various Molecule platforms
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: blocked, improvement, hacktoberfest-accepted, kraken 🐙

#129 Add attribution for dependabot ignore statements
  .github/dependabot.yml
Labels: documentation, improvement, kraken 🐙

#130 Update the molecule systemd configuration for cgroups v2
  molecule/default/molecule-with-systemd.yml
Labels: improvement, kraken 🐙, test
