Repository cisagov/skeleton-ansible-role, pull requests merged in 2023-04, with the labels that each got.

#139 Update the `molecule` requirement
  requirements-test.txt
Labels: bug, dependencies, kraken 🐙

#124 Remove support for Debian Stretch
  meta/main.yml
  molecule/default/Dockerfile_debian_9.j2
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: breaking change, kraken 🐙

#138 Add Kali Linux as a platform in the role metadata
  meta/main.yml
Labels: documentation, improvement, kraken 🐙

#133 Drop Amazon Linux 2 in favor of Amazon Linux 2023
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
  requirements-test.txt
Labels: breaking change, improvement, kraken 🐙
