Repository cisagov/skeleton-ansible-role, pull requests merged in 2023-06, with the labels that each got.

#144 Update for removal of the `lint` command in `molecule` v5
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
  requirements-test.txt
Labels: improvement, dependencies, kraken 🐙, test

#148 Update author email from Trio to GWE
  README.md
Labels: documentation, kraken 🐙

#149 Remove support for Ubuntu Bionic
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: improvement, kraken 🐙

#145 Remove Fedora 36 and add Fedora 38
  meta/main.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
Labels: improvement, kraken 🐙
