Repository cisagov/skeleton-ansible-role, pull requests merged in 2023-09, with the labels that each got.

#152 Add a standalone attribute to the role metadata
  meta/main.yml
Labels: improvement, kraken 🐙

#154 Add an empty meta/requirements.yml file
  meta/main.yml
  meta/requirements.yml
Labels: improvement, kraken 🐙

#155 Alphabetize YAML attributes
  molecule/default/requirements.yml
Labels: improvement, kraken 🐙

#157 Prefer true/false to yes/no in YAML files
  README.md
  molecule/default/molecule-with-systemd.yml
  molecule/default/upgrade.yml
Labels: documentation, improvement, kraken 🐙

#158 Add SystemD-enabled molecule scenario
  .github/workflows/build.yml
  .pre-commit-config.yaml
  molecule/systemd_enabled/INSTALL.rst
  molecule/systemd_enabled/converge.yml
  molecule/systemd_enabled/molecule-no-systemd.yml
  molecule/systemd_enabled/molecule-with-systemd.yml
  molecule/systemd_enabled/molecule.yml
  molecule/systemd_enabled/prepare.yml
  molecule/systemd_enabled/requirements.yml
  molecule/systemd_enabled/tests/test_default.py
  molecule/systemd_enabled/upgrade.yml
Labels: good first issue, improvement, kraken 🐙
