Repository cisagov/skeleton-ansible-role, pull requests merged in 2024-03, with the labels that each got.

#173 Allow ansible versions greater than 6
  requirements-test.txt
Labels: dependencies, kraken 🐙

#175 Always use systemd-enabled Docker images
  .github/workflows/build.yml
  molecule/default/molecule-no-systemd.yml
  molecule/default/molecule-with-systemd.yml
  molecule/default/molecule.yml
  molecule/systemd_enabled/INSTALL.rst
  molecule/systemd_enabled/converge.yml
  molecule/systemd_enabled/molecule-no-systemd.yml
  molecule/systemd_enabled/molecule-with-systemd.yml
  molecule/systemd_enabled/molecule.yml
  molecule/systemd_enabled/prepare.yml
  molecule/systemd_enabled/requirements.yml
  molecule/systemd_enabled/tests/test_default.py
  molecule/systemd_enabled/upgrade.yml
Labels: blocked, breaking change, github-actions

#171 Add new, disabled dependabot ignore directive
  .github/dependabot.yml
Labels: improvement, dependencies, kraken 🐙

#180 Remove needless Dependabot ignore directive
  .github/dependabot.yml
Labels: bug, dependencies, kraken 🐙

#179 Pin `ansible-core` to earlier than 2.16.3
  .github/dependabot.yml
  requirements-test.txt
Labels: bug, dependencies, kraken 🐙

#163 Add a diagnostics job to the CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: improvement, hacktoberfest-accepted, github-actions, kraken 🐙, security

#165 Remove mention of collections from comment
  meta/requirements.yml
Labels: documentation, kraken 🐙

#168 Add a section describing how to install the role
  README.md
Labels: documentation, kraken 🐙

#164 Add support for Debian Trixie
  meta/main.yml
  molecule/default/molecule.yml
Labels: blocked, improvement, hacktoberfest-accepted, kraken 🐙

#166 Add support for Fedora 39
  meta/main.yml
  molecule/default/molecule.yml
Labels: improvement, kraken 🐙

#172 Remove the Fedora 37 platform
  meta/main.yml
  molecule/default/molecule.yml
Labels: improvement, kraken 🐙

#182 Improve merge queue support in the CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: bug, improvement, upstream update, github-actions, kraken 🐙

#183 Use `cisagov/setup-env-github-action` in the `test` job of the `build` workflow
  .github/workflows/build.yml
Labels: bug, github-actions

#184 Remove duplicated instance of "ansible-galaxy"
  README.md
Labels: bug, documentation
