Repository cisagov/skeleton-ansible-role, pull requests merged in 2024-06, with the labels that each got.

#196 Add `community.docker` as a requirement for molecule testing
  molecule/default/requirements.yml
Labels: bug, dependencies, kraken 🐙

#190 Restore externally managed Python environment indicator if necessary
  molecule/default/externally-managed-python.yml
  molecule/default/prepare.yml
  molecule/default/templates/EXTERNALLY-MANAGED.j2
Labels: breaking change, improvement, kraken 🐙, test

#193 Update version pin on `ansible-core` Python package
  requirements-test.txt
Labels: dependencies, kraken 🐙

#187 Change the license so that it is an SPDX string
  meta/main.yml
Labels: improvement, kraken 🐙

#188 Add support for Fedora 40
  meta/main.yml
  molecule/default/molecule.yml
Labels: improvement, kraken 🐙

#189 Add support for Ubuntu 24.04 (Noble Numbat)
  meta/main.yml
  molecule/default/molecule.yml
Labels: improvement, kraken 🐙

#185 Update the `bandit` hook configuration for pre-commit
  .pre-commit-config.yaml
Labels: improvement, dependencies, kraken 🐙

#174 Add `arm64` platforms to Molecule configuration
  .github/dependabot.yml
  .github/workflows/build.yml
  molecule/default/molecule.yml
  update_molecule_images.sh
Labels: improvement, github-actions, kraken 🐙
