Repository cisagov/skeleton-ansible-role, pull requests merged in 2024-11, with the labels that each got.

#197 Add a dependabot ignore directive for `molecule`
  .github/dependabot.yml
Labels: improvement, dependencies, kraken 🐙

#200 Add logic to wait for `systemd` initialization to complete on Fedora
  molecule/default/prepare.yml
Labels: improvement, kraken 🐙

#201 Add a lower-bound pin for `pytest-testinfra`
  .github/dependabot.yml
  requirements-test.txt
Labels: improvement, dependencies, kraken 🐙

#209 Bump up the lower bound on `ansible-core`
  requirements-test.txt
Labels: improvement, dependencies, security
